In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('perrin-freres-monthly-champagne-.csv')

In [3]:
df.size

214

In [4]:
df.columns=['Months','Sales']

In [10]:
df.set_index('Months',inplace=True)

In [11]:
df.head()

          Sales
Months
1964-01  2815.0
1964-02  2672.0
1964-03  2755.0
1964-04  2721.0
1964-05  2946.0

In [6]:
df.shape

(107, 2)

In [8]:
df.drop(105,axis=0,inplace=True)

In [12]:
df.index = pd.to_dat
df.tail()

          Sales
Months
1972-05  4618.0
1972-06  5312.0
1972-07  4298.0
1972-08  1413.0
1972-09  5877.0

In [22]:
from pandas.tseries.offsets import DateOffset

In [24]:
a = [df.index[-1] + DateOffset(months=x) for x in range(0,24)]

TypeError: can only concatenate str (not "relativedelta") to str